@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* shared style */
@font-face {
    font-family: Miama;
    src: url(../miama/Miama.ttf);
}

body {
    font-family: "Inter", sans-serif;
    background-color: rgb(0, 0, 0);
    color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.btn-primary {
    height: 60px;
    width: 225px;
    border: none;
    background-color: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 25px;
}

h3 {
    font-size: 3rem;
    font-weight: 900;
}

p {
    color: rgba(255, 255, 255, 0.5);
    line-height: 25px;
    font-size: 1rem;
    font-weight: 400;
}

/* header section style starts */
.nav-bar {
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
}

.logo-title {
    font-size: 2rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}

/* .nav-item {
    margin-right: 100px;
} */

.bar {
    font-size: 2rem;
    display: none;
    color: #FFFFFF;
}

.nav-links {
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-link {
    list-style: none;
}

.anchore {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 400;
}

.span {
    padding: 10px 20px;
    background: rgb(230, 83, 60);
    border-radius: 20px;
}

/* banner style */
.banner {
    justify-content: space-around;
}

.banner-content {
    height: 450px;
    width: 600px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    text-align: left;
    margin-top: 40px;
}

.banner-content h3 {
    font-size: 5rem;
    font-weight: 900;
}

.banner-content h3 .thin-shape {
    font-weight: 200;
    font-size: 9.5rem;
    font-family: Miama;
    line-height: 0px;
}

.banner-content p {
    margin-top: 20px;
}

.btn {
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.btn-transparent {
    border: 1px solid rgb(255, 255, 255, 0.5);
    background-color: transparent;
}

.banner-image {
    height: 580px;
    width: 450px;
}

.banner-image img {
    height: 100%;
    width: 100%;
}

.video-card {
    width: 200px;
    height: 70px;
    background: rgba(48, 48, 48, 0.54);
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    top: -140px;
    left: -100px;
}

.video-card h3 {
    font-size: 1.5rem;
    font-weight: 900;

}

.video-card .fa-brands {
    font-size: 2.5rem;
    color: rgb(230, 83, 60);
}

.workout-card {
    width: 160px;
    height: 70px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px 15px;
    position: relative;
    top: -500px;
    right: -250px;
}

.workout-card h3 {
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 40px;
}

/* header section style ends */
/* Change Your Habits Section css starts */
.change-habits {
    height: 100%;
    width: 70%;
    margin: 80px auto;
    text-align: center;
    line-height: 5rem;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.change-habits h3 {
    font-size: 3rem;
    font-weight: 900;
}

.habit-items {
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.row {
    text-align: center;
}

.habit-paragraph {
    padding: 0px 30px;
}

.primary-image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Change Your Habits Section css ends */
/* Extra-run section css starts */
.extra-run-head {
    margin: 150px 0px;
    width: 100%;
    height: 380px;
    background-color: rgb(34, 34, 34);
    justify-content: space-around;
    align-items: center;
}

.extra-run {
    width: 50%;
}

.extra-run p {
    margin: 14px 0px 34px 0px;
    padding: 0px 60px 0px 0px;
}

.extra-run-image img {
    width: 370px;
    height: 320px;
    border-radius: 20px;
    object-fit: cover;

}
/* Extra-run section css ends */
/* Training section css starts */
.training-head{
    width: 50%;
    margin: 50px 0px;
}
.training-banner-first{
    height: 220px;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 45% 30%;
}
.excercise-first{
    height: 220px;
    width: 350px;
}
.excercise-second{
    height: 220px;
    width: 600px;
}
.excercise-third{
    height: 220px;
    width: 385px;
}
.training-banner-second{
    height: 220px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 25% 35%;
}
.excercise-second-first{
    height: 220px;
    width: 550px;
}
.excercise-second-square{
    height: 220px;
    width: 350px;
}
.excercise-second-third{
    height: 220px;
    width: 449px;
}

/* Training section css ends */
.bmi-title{
    width: 50%;
    margin: 80px auto;
}
.container-calculator{
    max-width: 100%;
    height: 500px;
    background-color: rgb(34, 34, 34);
}
.container-calculator .container{
    justify-content: space-between;
}
/* .calculated-part{
    width: 50%;
} */
.calculated-part h2{
    font-size: 1.85rem;
    padding: 50px 0px;
    font-weight: 900;
}
table{
    border-collapse: collapse;
}
th{
    padding: 10px 35px;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
td{
    padding: 10px 35px;
    color: rgb(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.calculate-your-bmi{
    width: 50%;
}
.title-bmi-head{
    padding: 50px 0px 20px;
}
.title-bmi-head h2{
    font-size: 1.85rem;
    font-weight: 900;
}
.title-bmi-head p{
    padding: 20px 4px 0px;
}
/* .input-field{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
} */
.weight-form {
    height: 50px;
    width: 45%;
    padding: 0px 9px 0px;
    border: 1px solid rgb(34, 34, 34);
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 8px 4px;
}
select#select-bar {
    height: 50px;
    width: 48%;
    border: 1px solid rgb(34, 34, 34);
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 3px;
}
.select-activity{
    height: 50px;
    width: 100%;
    border: 1px solid rgb(34, 34, 34);
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 3px;
    margin-bottom: 35px;
}
/* .weight-form{
    padding: 15px 0px;
    border: 1px solid rgb(34, 34, 34);
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
} */
/* ::placeholder{
    color: rgba(255, 255, 255, 0.6);
    padding: 0 0 0 15px;
    font-size: 1.2rem;
} */
/* select{
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1.2rem;
    border: 1px solid rgb(34, 34, 34);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
}
select {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1.2rem;
    border: 1px solid rgb(34, 34, 34);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    padding: 16px 245px 16px 13px;
}
.select-activity{
    padding: 15px 30px;
}
.select-activity {
    padding: 16px 400px 16px 16px;
    margin: 10px 0px;
} */


@media screen and (max-width: 576px) {
    .nav-bar {
        margin: 50px 20px;
    }

    .nav-item {
        display: none;
    }

    .bar {
        display: block;
    }

    .banner {
        flex-direction: column;
    }

    .banner-head {
        margin: 0px 0px 50px 0px;
    }

    .banner-content {
        height: 350px;
        width: 280px;
        text-align: left;
        margin-top: 40px;
    }

    .banner-content h3 {
        font-size: 2.8rem;
        font-weight: 900;
    }

    .banner-content h3 .thin-shape {
        font-size: 7rem;
    }

    .btn {
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .video-card {
        position: relative;
        top: -300px;
        left: -20px;
    }

    .banner-image {
        margin: 0 auto;
        height: 580px;
        width: 350px;
    }

    .workout-card {
        top: -600px;
        right: -200px;
    }

    /* change your habit section css responsive starts */
    .habit-items {
        flex-direction: column;
    }

    .change-habits {
        width: 75%;
    }

    .change-habits h3 {
        font-size: 2rem;
        font-weight: 900;
    }

    .row {
        width: 75%;
        margin-bottom: 40px;
    }

    /* change your habit section css responsive ends */
    .extra-run-head {
        margin: 15px 0px;
        flex-direction: column;
        height: auto;
        gap: 40px;

    }

    .extra-run {
        width: 90%;
    }
 .btn-primary {
        width: 460px;
    }   
    .extra-run-image img {
        width: 100%;
    }

    /* Run extra section responsive ends */
}